:local .root .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-left: solid 1px;
  border-right: solid 1px;
}

:local .root .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: solid 1px;
}

:local .root .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: solid 1px;
}


