:local .root {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}


:local .formContainer {
  min-width: 400px;
}

:local .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
}


:local .progress {
  display: block;
  height: 24px;
  margin-bottom: 20px;
}

:local .spinnerContainer {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 30%;
  left: 0;
  width: 150px;
  height: 140px;
}

:local .spinner {
  z-index: 3;
  background-color: white;
  display: inline-block;
  border-radius: 6%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
