tweak(display-flex) {
  display: flex;
}
.\+display-flex.\--space-children {
  * {
    margin-left: 8px;
    margin-right: 8px;
  }

  *:first-child {
    margin-left: 0;
  }

  *:last-child {
    margin-right: 0;
  }
}

tweak(flex-column) {
  flex-direction: column;
}

tweak(flex-center) {
  justify-content: center;
}

tweak(flex-items-center) {
  align-items: center;
}

@for $i from 1 to 12 {
  tweak(flex-$i) {
    flex: $i;
  }
}

tweak(display-block) {
  display: block;
}

