:local .root {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

:local .container {
  flex: 1;
  min-width: 250px;
  max-width: 470px;
}

:local .logo {
  padding: 20px;
}

:local .title {
  margin: 20px 0;
}

:local .buttonContainer {
  margin-top: 30px;
}

:local .buttonContainer :global .btn {
  width: 100%;
}
