/*
 * This code was shamelessly copied and pasted from
 * https://www.paypal.com/webapps/mpp/logo-center
 * I wanted this app to look like a paypal app :-)
 */


/************* /resources/css/min/base_ar.css ************/

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
html,
body {
  margin: 0;
  padding: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
 a:focus {
  outline: none;
 }
a.btn:focus, .btn:focus {
  outline: 1px dotted #ddd;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
  max-width: 100%;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * @fileOverview Scaffolding
 *
 * @author mdaveshah
 * @tested none yet
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5em;
  color: #767676;
}
/* Links */
a {
   font-size: inherit;
   line-height: inherit;
   font-weight: bold;
   color: #0079ad;
   text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #0c8dc4;
  text-decoration: underline;
}
a.secondaryLink,
.secondaryLink a:not(.btn) {
    color: #666;
}
a.secondaryLink:hover,
a.secondaryLink:focus,
a.secondaryLink:active,
.secondaryLink a:hover:not(.btn),
.secondaryLink a:focus:not(.btn),
.secondaryLink a:active:not(.btn) {
    color: #444;
    text-decoration: underline;
}
a.reverseLink,
.reverseLink a {
    color: #fff;
}
/*a.reverseLink:hover,
a.reverseLink:focus,
a.reverseLink:active,
.reverseLink a:hover,
.reverseLink a:focus,
.reverseLink a:active {
    color: #e4e4e4;
}*/

/*button styling starts*/
.btn {
  display: inline-block;
  padding: 9px 15px 10px;
  margin-bottom: 0;
  background: #009cde;
  font-size: 15px;
  font-size: 1.07142857142857rem;
  font-weight: bold;
  line-height: 1.4545em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background: #0285d2;
}
.btn:focus {
  color: #FFF;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active {
  background: #e5e5e5;
  cursor: auto;
}
.btn-large {
  padding: 9px 14px;
  font-size: 17.234px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 7px 8px;
  font-size: 14px;
  min-width: 66px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 4px 8px;
  font-size: 11.8454px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-secondary {
  background: #ddd;
  color: #333;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background: #dddddd;
}

body {
  font-size: 14px;
  line-height: 1.5em;
}
/**
* @fileOverview PayPal Default Grid
* without any media queries. This is for browsers that dont
* understand media queries
* @name grid
* @author mdaveshah
* @tested none yet
*/
.input-block-level {
  display: block;
  width: 100%;
  min-height: 3.14285714285714em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}
[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}
/**
 * @fileOverview Adaptive responsive styles for
 *  mobile, portable and dedicated channels
 * @name adaptive-responsive
 * @author mdaveshah
 * @tested
 */
/****
  * @fileOverview Adaptive responsive styles for dedicated channels
  * @name adaptive-dedicated
  * Will be a fixed grid center aligned above 960px with max width of 1170px
  * 12 columns grid
  * Also acts as the default grid for the webapp
  * @author mdaveshah
  * @tested
****/
.row-fluid {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row-fluid [class*="span"] {
    float: left;
    margin-left: 2%;
    min-height: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 100%;
  }
  .row-fluid .span11 {
    width: 91.5%;
  }
  .row-fluid .span10 {
    width: 83%;
  }
  .row-fluid .span9 {
    width: 74.5%;
  }
  .row-fluid .span8 {
    width: 66%;
  }
  .row-fluid .span7 {
    width: 57.5%;
  }
  .row-fluid .span6 {
    width: 49%;
  }
  .row-fluid .span5 {
    width: 40.5%;
  }
  .row-fluid .span4 {
    width: 32%;
  }
  .row-fluid .span3 {
    width: 23.5%;
  }
  .row-fluid .span2 {
    width: 15%;
  }
  .row-fluid .span1 {
    width: 6.5%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102%;
  }
  .row-fluid .offset11 {
    margin-left: 95.5%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 93.5%;
  }
  .row-fluid .offset10 {
    margin-left: 87%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85%;
  }
  .row-fluid .offset9 {
    margin-left: 78.5%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.5%;
  }
  .row-fluid .offset8 {
    margin-left: 70%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68%;
  }
  .row-fluid .offset7 {
    margin-left: 61.5%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.5%;
  }
  .row-fluid .offset6 {
    margin-left: 53%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51%;
  }
  .row-fluid .offset5 {
    margin-left: 44.5%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.5%;
  }
  .row-fluid .offset4 {
    margin-left: 36%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34%;
  }
  .row-fluid .offset3 {
    margin-left: 27.5%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.5%;
  }
  .row-fluid .offset2 {
    margin-left: 19%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17%;
  }
  .row-fluid .offset1 {
    margin-left: 10.5%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.5%;
  }
/**
 * @fileOverview Adaptive responsive styles for portable channels
 * @name adaptive-portable
 * @author mdaveshah
 * @tested
 */
html[data-device-type="portable"] {
  /* mini Tablet portrait mode
   * max 767px in portable channel
   * 6 columns grid
  */

  /* Large Tablet portrait mode
   * min 768px in portable channel
   * 6 columns grid
  */

  /* mini Tablet landscape mode
   * max 1023px in portable channel
   * 6 columns grid
  */

  /* Large Tablet landscape mode
   * 1024px+ in portable channel
   * 12 columns grid
  */

}
@media (orientation: portrait) and (max-width: 768px) {
  html[data-device-type="portable"] .row-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"] {
    float: left;
    margin-left: 3.5%;
    min-height: 1px;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span12,
  html[data-device-type="portable"] .row-fluid .span11 {
    width: 100%;
  }
  html[data-device-type="portable"] .row-fluid .span10,
  html[data-device-type="portable"] .row-fluid .span9 {
    width: 82.75%;
  }
  html[data-device-type="portable"] .row-fluid .span8,
  html[data-device-type="portable"] .row-fluid .span7 {
    width: 65.5%;
  }
  html[data-device-type="portable"] .row-fluid .span6,
  html[data-device-type="portable"] .row-fluid .span5 {
    width: 48.25%;
  }
  html[data-device-type="portable"] .row-fluid .span4,
  html[data-device-type="portable"] .row-fluid .span3 {
    width: 31%;
  }
  html[data-device-type="portable"] .row-fluid .span2,
  html[data-device-type="portable"] .row-fluid .span1 {
    width: 13.75%;
  }
  html[data-device-type="portable"] .row-fluid .offset12:first-child,
  html[data-device-type="portable"] .row-fluid .offset11:first-child {
    margin-left: 103.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset10:first-child,
  html[data-device-type="portable"] .row-fluid .offset9:first-child {
    margin-left: 86.25%;
  }
  html[data-device-type="portable"] .row-fluid .offset8:first-child,
  html[data-device-type="portable"] .row-fluid .offset7:first-child {
    margin-left: 69%;
  }
  html[data-device-type="portable"] .row-fluid .offset6:first-child,
  html[data-device-type="portable"] .row-fluid .offset5:first-child {
    margin-left: 51.75%;
  }
  html[data-device-type="portable"] .row-fluid .offset4,
  html[data-device-type="portable"] .row-fluid .offset3 {
    margin-left: 38%;
  }
  html[data-device-type="portable"] .row-fluid .offset4:first-child,
  html[data-device-type="portable"] .row-fluid .offset3:first-child {
    margin-left: 34.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset2,
  html[data-device-type="portable"] .row-fluid .offset1 {
    margin-left: 20.75%;
  }
  html[data-device-type="portable"] .row-fluid .offset2:first-child,
  html[data-device-type="portable"] .row-fluid .offset1:first-child {
    margin-left: 17.25%;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-6 {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-5 {
    width: 82.75%;
    margin-left: 3.5%;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-5:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-4 {
    width: 65.5%;
    margin-left: 3.5%;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-4:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-3 {
    width: 48.25%;
    margin-left: 3.5%;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-3:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-2 {
    width: 31%;
    margin-left: 3.5%;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-2:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-1 {
    width: 13.75%;
    margin-left: 3.5%;
  }
  html[data-device-type="portable"] .row-fluid .span-pp-1:first-child {
    margin-left: 0;
  }
}
@media (orientation: portrait) and (min-width: 769px) {
  html[data-device-type="portable"] .row-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"] {
    float: left;
    margin-left: 3%;
    min-height: 1px;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span12,
  html[data-device-type="portable"] .row-fluid .span11 {
    width: 100%;
  }
  html[data-device-type="portable"] .row-fluid .span10,
  html[data-device-type="portable"] .row-fluid .span9 {
    width: 82.83333333333334%;
  }
  html[data-device-type="portable"] .row-fluid .span8,
  html[data-device-type="portable"] .row-fluid .span7 {
    width: 65.66666666666667%;
  }
  html[data-device-type="portable"] .row-fluid .span6,
  html[data-device-type="portable"] .row-fluid .span5 {
    width: 48.5%;
  }
  html[data-device-type="portable"] .row-fluid .span4,
  html[data-device-type="portable"] .row-fluid .span3 {
    width: 31.333333333333332%;
  }
  html[data-device-type="portable"] .row-fluid .span2,
  html[data-device-type="portable"] .row-fluid .span1 {
    width: 14.166666666666666%;
  }
  html[data-device-type="portable"] .row-fluid .offset12:first-child,
  html[data-device-type="portable"] .row-fluid .offset11:first-child {
    margin-left: 103%;
  }
  html[data-device-type="portable"] .row-fluid .offset10:first-child,
  html[data-device-type="portable"] .row-fluid .offset9:first-child {
    margin-left: 85.83333333333334%;
  }
  html[data-device-type="portable"] .row-fluid .offset8:first-child,
  html[data-device-type="portable"] .row-fluid .offset7:first-child {
    margin-left: 68.66666666666667%;
  }
  html[data-device-type="portable"] .row-fluid .offset6:first-child,
  html[data-device-type="portable"] .row-fluid .offset5:first-child {
    margin-left: 51.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset4,
  html[data-device-type="portable"] .row-fluid .offset3 {
    margin-left: 37.33333333333333%;
  }
  html[data-device-type="portable"] .row-fluid .offset4:first-child,
  html[data-device-type="portable"] .row-fluid .offset3:first-child {
    margin-left: 34.33333333333333%;
  }
  html[data-device-type="portable"] .row-fluid .offset2,
  html[data-device-type="portable"] .row-fluid .offset1 {
    margin-left: 20.166666666666664%;
  }
  html[data-device-type="portable"] .row-fluid .offset2:first-child,
  html[data-device-type="portable"] .row-fluid .offset1:first-child {
    margin-left: 17.166666666666664%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-6 {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-5 {
    width: 82.83333333333333%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-5:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-4 {
    width: 65.66666666666666%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-4:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-3 {
    width: 48.5%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-3:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-2 {
    width: 31.333333333333332%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-2:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-1 {
    width: 14.166666666666666%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-1:first-child {
    margin-left: 0;
  }
}
@media (orientation: landscape) and (max-width: 1023px) {
  html[data-device-type="portable"] .row-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"] {
    float: left;
    margin-left: 3%;
    min-height: 1px;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span12,
  html[data-device-type="portable"] .row-fluid .span11 {
    width: 100%;
  }
  html[data-device-type="portable"] .row-fluid .span10,
  html[data-device-type="portable"] .row-fluid .span9 {
    width: 82.83333333333334%;
  }
  html[data-device-type="portable"] .row-fluid .span8,
  html[data-device-type="portable"] .row-fluid .span7 {
    width: 65.66666666666667%;
  }
  html[data-device-type="portable"] .row-fluid .span6,
  html[data-device-type="portable"] .row-fluid .span5 {
    width: 48.5%;
  }
  html[data-device-type="portable"] .row-fluid .span4,
  html[data-device-type="portable"] .row-fluid .span3 {
    width: 31.333333333333332%;
  }
  html[data-device-type="portable"] .row-fluid .span2,
  html[data-device-type="portable"] .row-fluid .span1 {
    width: 14.166666666666666%;
  }
  html[data-device-type="portable"] .row-fluid .offset12:first-child,
  html[data-device-type="portable"] .row-fluid .offset11:first-child {
    margin-left: 103%;
  }
  html[data-device-type="portable"] .row-fluid .offset10:first-child,
  html[data-device-type="portable"] .row-fluid .offset9:first-child {
    margin-left: 85.83333333333334%;
  }
  html[data-device-type="portable"] .row-fluid .offset8:first-child,
  html[data-device-type="portable"] .row-fluid .offset7:first-child {
    margin-left: 68.66666666666667%;
  }
  html[data-device-type="portable"] .row-fluid .offset6:first-child,
  html[data-device-type="portable"] .row-fluid .offset5:first-child {
    margin-left: 51.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset4,
  html[data-device-type="portable"] .row-fluid .offset3 {
    margin-left: 37.33333333333333%;
  }
  html[data-device-type="portable"] .row-fluid .offset4:first-child,
  html[data-device-type="portable"] .row-fluid .offset3:first-child {
    margin-left: 34.33333333333333%;
  }
  html[data-device-type="portable"] .row-fluid .offset2,
  html[data-device-type="portable"] .row-fluid .offset1 {
    margin-left: 20.166666666666664%;
  }
  html[data-device-type="portable"] .row-fluid .offset2:first-child,
  html[data-device-type="portable"] .row-fluid .offset1:first-child {
    margin-left: 17.166666666666664%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-6 {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-5 {
    width: 82.83333333333333%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-5:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-4 {
    width: 65.66666666666666%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-4:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-3 {
    width: 48.5%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-3:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-2 {
    width: 31.333333333333332%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-2:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-1 {
    width: 14.166666666666666%;
    margin-left: 3%;
  }
  html[data-device-type="portable"] .row-fluid .span-pl-1:first-child {
    margin-left: 0;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  html[data-device-type="portable"] .row-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"] {
    float: left;
    margin-left: 2%;
    min-height: 1px;
    box-sizing: border-box;
  }
  html[data-device-type="portable"] .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .span12 {
    width: 100%;
  }
  html[data-device-type="portable"] .row-fluid .span11 {
    width: 91.5%;
  }
  html[data-device-type="portable"] .row-fluid .span10 {
    width: 83%;
  }
  html[data-device-type="portable"] .row-fluid .span9 {
    width: 74.5%;
  }
  html[data-device-type="portable"] .row-fluid .span8 {
    width: 66%;
  }
  html[data-device-type="portable"] .row-fluid .span7 {
    width: 57.5%;
  }
  html[data-device-type="portable"] .row-fluid .span6 {
    width: 49%;
  }
  html[data-device-type="portable"] .row-fluid .span5 {
    width: 40.5%;
  }
  html[data-device-type="portable"] .row-fluid .span4 {
    width: 32%;
  }
  html[data-device-type="portable"] .row-fluid .span3 {
    width: 23.5%;
  }
  html[data-device-type="portable"] .row-fluid .span2 {
    width: 15%;
  }
  html[data-device-type="portable"] .row-fluid .span1 {
    width: 6.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset12:first-child {
    margin-left: 102%;
  }
  html[data-device-type="portable"] .row-fluid .offset11 {
    margin-left: 95.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset11:first-child {
    margin-left: 93.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset10 {
    margin-left: 87%;
  }
  html[data-device-type="portable"] .row-fluid .offset10:first-child {
    margin-left: 85%;
  }
  html[data-device-type="portable"] .row-fluid .offset9 {
    margin-left: 78.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset9:first-child {
    margin-left: 76.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset8 {
    margin-left: 70%;
  }
  html[data-device-type="portable"] .row-fluid .offset8:first-child {
    margin-left: 68%;
  }
  html[data-device-type="portable"] .row-fluid .offset7 {
    margin-left: 61.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset7:first-child {
    margin-left: 59.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset6 {
    margin-left: 53%;
  }
  html[data-device-type="portable"] .row-fluid .offset6:first-child {
    margin-left: 51%;
  }
  html[data-device-type="portable"] .row-fluid .offset5 {
    margin-left: 44.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset5:first-child {
    margin-left: 42.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset4 {
    margin-left: 36%;
  }
  html[data-device-type="portable"] .row-fluid .offset4:first-child {
    margin-left: 34%;
  }
  html[data-device-type="portable"] .row-fluid .offset3 {
    margin-left: 27.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset3:first-child {
    margin-left: 25.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset2 {
    margin-left: 19%;
  }
  html[data-device-type="portable"] .row-fluid .offset2:first-child {
    margin-left: 17%;
  }
  html[data-device-type="portable"] .row-fluid .offset1 {
    margin-left: 10.5%;
  }
  html[data-device-type="portable"] .row-fluid .offset1:first-child {
    margin-left: 8.5%;
  }
}
/**
 * @fileOverview Adaptive responsive styles for mobile channels
 * @name adaptive-mobile
 * @author mdaveshah
 * @tested
 */
html[data-device-type="mobile"] {
  /* Phone Landscape mode
   * upto 479px in mobile channel
   * 4 columns grid
  **/

  /* Phone Landscape mode
   * 480px to  channel
   * 6 columns grid
  **/

}
@media (max-width: 479px) {
  html[data-device-type="mobile"] .row-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  html[data-device-type="mobile"] .row-fluid [class*="span"] {
    float: left;
    margin-left: 3.5%;
    min-height: 1px;
    box-sizing: border-box;
  }
  html[data-device-type="mobile"] .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span12,
  html[data-device-type="mobile"] .row-fluid .span11,
  html[data-device-type="mobile"] .row-fluid .span10 {
    width: 100%;
  }
  html[data-device-type="mobile"] .row-fluid .span9,
  html[data-device-type="mobile"] .row-fluid .span8,
  html[data-device-type="mobile"] .row-fluid .span7 {
    width: 74.125%;
  }
  html[data-device-type="mobile"] .row-fluid .span6,
  html[data-device-type="mobile"] .row-fluid .span5,
  html[data-device-type="mobile"] .row-fluid .span4 {
    width: 48.25%;
  }
  html[data-device-type="mobile"] .row-fluid .span3,
  html[data-device-type="mobile"] .row-fluid .span2,
  html[data-device-type="mobile"] .row-fluid .span1 {
    width: 22.375%;
  }
  html[data-device-type="mobile"] .row-fluid .offset12:first-child,
  html[data-device-type="mobile"] .row-fluid .offset11:first-child,
  html[data-device-type="mobile"] .row-fluid .offset10:first-child {
    margin-left: 103.5%;
  }
  html[data-device-type="mobile"] .row-fluid .offset9:first-child,
  html[data-device-type="mobile"] .row-fluid .offset8:first-child,
  html[data-device-type="mobile"] .row-fluid .offset7:first-child {
    margin-left: 77.625%;
  }
  html[data-device-type="mobile"] .row-fluid .offset6:first-child,
  html[data-device-type="mobile"] .row-fluid .offset5:first-child,
  html[data-device-type="mobile"] .row-fluid .offset4:first-child {
    margin-left: 51.75%;
  }
  html[data-device-type="mobile"] .row-fluid .offset3,
  html[data-device-type="mobile"] .row-fluid .offset2,
  html[data-device-type="mobile"] .row-fluid .offset1 {
    margin-left: 29.375%;
  }
  html[data-device-type="mobile"] .row-fluid .offset3:first-child,
  html[data-device-type="mobile"] .row-fluid .offset2:first-child,
  html[data-device-type="mobile"] .row-fluid .offset1:first-child {
    margin-left: 25.875%;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-4 {
    width: 100%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-4:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-3 {
    width: 74.125%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-3:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-2 {
    width: 48.25%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-2:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-1 {
    width: 22.375%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-mp-1:first-child {
    margin-left: 0;
  }
}
@media (min-width: 480px) {
  html[data-device-type="mobile"] .row-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  html[data-device-type="mobile"] .row-fluid [class*="span"] {
    float: left;
    margin-left: 3.5%;
    min-height: 1px;
    box-sizing: border-box;
  }
  html[data-device-type="mobile"] .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span12,
  html[data-device-type="mobile"] .row-fluid .span11 {
    width: 100%;
  }
  html[data-device-type="mobile"] .row-fluid .span10,
  html[data-device-type="mobile"] .row-fluid .span9 {
    width: 82.75%;
  }
  html[data-device-type="mobile"] .row-fluid .span8,
  html[data-device-type="mobile"] .row-fluid .span7 {
    width: 65.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span6,
  html[data-device-type="mobile"] .row-fluid .span5 {
    width: 48.25%;
  }
  html[data-device-type="mobile"] .row-fluid .span4,
  html[data-device-type="mobile"] .row-fluid .span3 {
    width: 31%;
  }
  html[data-device-type="mobile"] .row-fluid .span2,
  html[data-device-type="mobile"] .row-fluid .span1 {
    width: 13.75%;
  }
  html[data-device-type="mobile"] .row-fluid .offset12:first-child,
  html[data-device-type="mobile"] .row-fluid .offset11:first-child {
    margin-left: 103.5%;
  }
  html[data-device-type="mobile"] .row-fluid .offset10:first-child,
  html[data-device-type="mobile"] .row-fluid .offset9:first-child {
    margin-left: 86.25%;
  }
  html[data-device-type="mobile"] .row-fluid .offset8:first-child,
  html[data-device-type="mobile"] .row-fluid .offset7:first-child {
    margin-left: 69%;
  }
  html[data-device-type="mobile"] .row-fluid .offset6:first-child,
  html[data-device-type="mobile"] .row-fluid .offset5:first-child {
    margin-left: 51.75%;
  }
  html[data-device-type="mobile"] .row-fluid .offset4,
  html[data-device-type="mobile"] .row-fluid .offset3 {
    margin-left: 38%;
  }
  html[data-device-type="mobile"] .row-fluid .offset4:first-child,
  html[data-device-type="mobile"] .row-fluid .offset3:first-child {
    margin-left: 34.5%;
  }
  html[data-device-type="mobile"] .row-fluid .offset2,
  html[data-device-type="mobile"] .row-fluid .offset1 {
    margin-left: 20.75%;
  }
  html[data-device-type="mobile"] .row-fluid .offset2:first-child,
  html[data-device-type="mobile"] .row-fluid .offset1:first-child {
    margin-left: 17.25%;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-6 {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-5 {
    width: 82.75%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-5:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-4 {
    width: 65.5%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-4:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-3 {
    width: 48.25%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-3:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-2 {
    width: 31%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-2:first-child {
    margin-left: 0;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-1 {
    width: 13.75%;
    margin-left: 3.5%;
  }
  html[data-device-type="mobile"] .row-fluid .span-ml-1:first-child {
    margin-left: 0;
  }
}

/**
 * @fileOverview Contains Utility styles
 *
 * @name utilities
 * @author mdaveshah
 * @tested none yet
 */
html[data-device-type] .pull-right,
html[data-device-type] .row-fluid [class*="span"].pull-right {
  float: right;
}
html[data-device-type] .pull-left,
html[data-device-type] .row-fluid [class*="span"].pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.accessAid {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/**
 * @fileOverview Adaptive responsive utilities to show or hide on channels
 * @name ar-utilities
 * @author mdaveshah
 * @tested
 */
@-ms-viewport {
  width: device-width;
}
html[data-device-type="dedicated"] .ui-visible-dedicated {
  display: inherit;
}
html[data-device-type="dedicated"] .ui-hidden-dedicated {
  display: none;
}
html[data-device-type="portable"] .ui-visible-portable {
  display: inherit;
}
html[data-device-type="portable"] .ui-hidden-portable {
  display: none;
}
html[data-device-type="mobile"] .ui-visible-mobile {
  display: inherit;
}
html[data-device-type="mobile"] .ui-hidden-mobile,
html[data-device-type="mobile"] .containerMobileFullWidth .row-fluid .ui-hidden-mobile {
  display: none;
}
/**
* @fileOverview Common layouts on top of the base grid
* @name layouts
* @author mdaveshah
* @tested none yet
*/
.container {
  margin-right: auto;
  margin-left: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.containerCentered {
  margin-right: auto;
  margin-left: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 940px;
  max-width: 1150px;
}
.containerCentered:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1004px) {
  html[data-device-type="dedicated"] .containerCentered {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1005px) {
  html[data-device-type="dedicated"] .containerCentered {
      padding-left: 3%;
      padding-right: 3%;

  }
}
html[data-device-type="portable"] .containerCentered {
  min-width: 0;
  max-width: 100%;
}
@media (orientation: portrait) and (max-width: 768px) {
  html[data-device-type="portable"] .containerCentered {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }
}
@media (orientation: portrait) and (min-width: 769px) {
  html[data-device-type="portable"] .containerCentered {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
@media (orientation: landscape) and (max-width: 1023px) {
  html[data-device-type="portable"] .containerCentered {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  html[data-device-type="portable"] .containerCentered {
    padding-left: 3%;
    padding-right: 3%;
  }
}
html[data-device-type="mobile"] .containerCentered {
  min-width: 0;
  max-width: 100%;
}
@media (max-width: 479px) {
  html[data-device-type="mobile"] .containerCentered {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }
}
@media (min-width: 480px) {
  html[data-device-type="mobile"] .containerCentered {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }
}
html[data-device-type="mobile"] .span4Mobile {
  width: 100%;
  margin-left: 0;
  float: none;
}
/** Creates a bootstrap like layout that is 100% full width on mobile channel devices
 * ----------------------------------------
 *  <div class="containerMobileFullWidth">
 *    <div class ="row-fluid">
 *      <section class="span4">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *      <section class="span4">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *      <section class="span4">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *    </div>
 *  <div>
 */
html[data-device-type="mobile"] .containerMobileFullWidth {
  overflow: auto;
}
html[data-device-type="mobile"] .containerMobileFullWidth .row-fluid [class*="span"],
html[data-device-type="mobile"] .row-fluid .containerMobileFullWidth [class*="span"] {
  width: 100%;
  margin-left: 0;
  float: none;
}
/** Creates equal height columns
 * ----------------------------------------
 *  <div class="containerEqualHeights">
 *    <div class ="row-fluid">
 *      <section class="span4">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *      <section class="span4">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *      <section class="span4">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *    </div>
 *  <div>
 */
.containerEqualHeights {
  overflow: hidden;
}
.containerEqualHeights [class*="span"] {
  margin-bottom: -99em;
  padding-bottom: 99em;
}
/**  Layout for 4 containers and a common way of laying them on 12, 6 and 4 column grids
 * ----------------------------------------
 * 4 containers in a row on desktop (12 column grid) -> 4d
 * switches to 2 containers in a row on tablet and mobile (6 column grid) ->2p
 * switches to full width on a mobile portrait (4 column grid) -> 1m
 * ----------------------------------------
 *  <div class="container4d2p1m">
 *    <div class ="row-fluid">
 *      <section class="span3">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *      <section class="span3">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *      <section class="span3">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *      <section class="span3">
 *        <header> Headline </header>
 *        <div> Container body content </div>
 *        <footer> Footer link if any for the container </footer>
 *      </section>
 *    </div>
 *  <div>
 */
@media (orientation: portrait) and (max-width: 768px) {
  html[data-device-type="portable"] .row-fluid .container4d2p1m [class*="span"] {
    width: 48.5%;
    margin-left: 3%;
    padding-top: 25px;
  }
  html[data-device-type="portable"] .row-fluid .container4d2p1m [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .container4d2p1m .clearfix + [class*="span"] {
    margin-left: 0;
  }
}
@media (orientation: portrait) and (min-width: 769px) {
  html[data-device-type="portable"] .row-fluid .container4d2p1m [class*="span"] {
    width: 48.5%;
    margin-left: 3%;
    padding-top: 25px;
  }
  html[data-device-type="portable"] .row-fluid .container4d2p1m [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .container4d2p1m .clearfix + [class*="span"] {
    margin-left: 0;
  }
}
@media (orientation: landscape) and (max-width: 1023px) {
  html[data-device-type="portable"] .row-fluid .container4d2p1m [class*="span"] {
    width: 48.5%;
    margin-left: 3%;
    padding-top: 25px;
  }
  html[data-device-type="portable"] .row-fluid .container4d2p1m [class*="span"]:first-child {
    margin-left: 0;
  }
  html[data-device-type="portable"] .row-fluid .container4d2p1m .clearfix + [class*="span"] {
    margin-left: 0;
  }
}
html[data-device-type="mobile"] .row-fluid .container4d2p1m [class*="span"] {
  width: 100%;
  margin-left: 0;
  float: none;
}



/*********** /resources/css/base.css ************/

/* Body */
html {
    font-size: 87.5%;
}
/*  TODO: Figure out a better way to write this when moving to LESS */

/* Font family for C2 */
html[lang="zh-C2"] body, html[lang="zh-CN"] body {
    font-family:"微软雅黑体", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Font family for HK */

/*  TODO: Figure out a better way to write this when moving to LESS */
html[lang="zh-HK"] body, html[lang="zh-TW"] body {
    font-family:"微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html[data-device-type="dedicated"] {
    min-width: 1028px;
}
/* Turn off focus rects */
html.focus-off a:focus, html.focus-off button:focus, html.focus-off input:focus {
    outline: none;
}
/* Headings */
 h1, h2, h3, h4, h5, h6, .headline {
    font-weight: 300;
    color: #444;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
h1, h2, .x-large {
    letter-spacing: 0.02em;
}
h3, h4, h5, h6, .large, .medium, .small {
    letter-spacing: 0.01em;
}
h1, .huge {
    font-size: 60px;
    font-size: 4.28571428571429rem;
    line-height: 1.66666666666667em;
}
h2, .x-large {
    font-size: 40px;
    font-size: 2.857rem;
    line-height: 1.25em;
}
h3, .large, html[data-device-type="mobile"] h2, html[data-device-type="mobile"] .x-large {
    font-size: 28px;
    font-size: 2rem;
    line-height: 1.25em;
}
h4, .medium {
    font-size: 20px;
    font-size: 1.4287rem;
    line-height: 1.25em;
}
h5, .small {
    font-weight: bold;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1em;
}
/* Mobile version */
 html[data-device-type="mobile"] h1 {
    line-height: 1.1em;
}
html[data-device-type="mobile"] h2 {
    font-size: 30px;
    font-size: 2.14285714285714rem;
}
html[data-device-type="mobile"] .fancy-down-arrow:before, html[data-device-type="mobile"] .fancy-down-arrow:after {
    left: 25px;
}
/* Body Text */
p {
    padding-top: 4px;
    padding-bottom: 14px;
    margin: 0;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.5em;
    color: #777;
}
html[data-device-type="mobile"] p {
    padding-top: 14px;
    padding-bottom: 20px;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
.legal-notes {
    font-size: 11px;
    font-size: 0.786rem;
    color: #aaa;
    margin: 20px 0;
}
.legal-notes a {
    font-size: inherit;
}
/* Buttons */
.btn-small {
    padding: 8px 12px;
    min-width: 66px;
    font-size: 11px;
    font-size: 0.786rem;
    line-height: 1.36em;
}
html[data-device-type="dedicated"] .btn:hover {
    background: #0c8dc4;
}
html[data-device-type="dedicated"] .btn-secondary:hover {
    background: #ebebeb;
}
html[data-device-type="dedicated"] .btn:active {
    background: #0c8dc4;
}
html[data-device-type="dedicated"] .btn-secondary:active {
    background: #d1d1d1;
}
html[data-device-type="dedicated"] .btn:focus,
html[data-device-type="dedicated"] .btn.btn-small:focus,
html[data-device-type="dedicated"] .btn-secondary:focus,
html[data-device-type="dedicated"] .btn-secondary.btn-small:focus {
    outline: 0;
    text-decoration: underline;
}
html[data-device-type="dedicated"].focus-off .btn:focus,
html[data-device-type="dedicated"].focus-off .btn.btn-small:focus,
html[data-device-type="dedicated"].focus-off .btn-secondary:focus,
html[data-device-type="dedicated"].focus-off .btn-secondary.btn-small:focus
{
    box-shadow: none;
}

html[data-device-type="dedicated"] .btn.disabled,
html[data-device-type="dedicated"] .btn[disabled],
html[data-device-type="dedicated"] .btn.disabled:hover,
html[data-device-type="dedicated"] .btn[disabled]:hover,
html[data-device-type="dedicated"] .btn.disabled:active,
html[data-device-type="dedicated"] .btn[disabled]:active {
    background: #e5e5e5;
    cursor: auto;
}
/* Automatic phone number highlighting */
a[href^=tel] {
    color: #0079ad;
}
.dark a[href^=tel] {
    color: #fff;
}
/* Forms */
.control-group {
    padding: 5px 6px;
}
.control-group.separated {
    border-top: 1px solid #e5e5e5;
    padding-top: 30px;
    margin-top: 14px;
}
.help-block {
    padding: 16px 4px;
}
.help-block a {
    font-weight: bold;
}
.form-inline .controls {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
input[type="text"], textarea, input[type="number"], input[type="email"], input[type="password"],
input[type="url"] {
    margin: 0 0 0 10px;
    height: 38px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    background: #fff;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.25em;
    line-height: 34px\9;
    padding: 0;
    color: #333;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    position: relative;
}
textarea {
    height: 76px;
}
.form-inline input[type="text"], .form-inline input[type="number"], .form-inline input[type="email"], .form-inline input[type="password"] {
    height: 40px;
}
.form-inline textarea {
    height: 80px;
}
.form-inline input[type="text"].small, .form-inline input[type="number"].small, .form-inline input[type="email"].small, .form-inline input[type="password"].small {
    height: 30px;
}
.form-inline textarea.small {
    height: 60px;
}
input[type="text"]:focus, textarea:focus, input[type="number"]:focus,
input[type="email"]:focus, input[type="password"]:focus, input[type="url"]:focus {
    outline: none;
    border-color: #009cde;
}
input.small {
    width: 182px;
    height: 30px;
    padding: 0;
    line-height: 14px;
    line-height: 24px\9;
    font-size: 11px;
    font-size: 0.786rem;
    font-weight: normal;
}
.with-helper {
    padding-right: 26px;
}
input.large {
    width: 100%;
    margin-left: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"], input.amount-currency {
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
select.no-arrow {
    margin: 0 0 0 10px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    background: #fff;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.25em;
    padding: 0;
    padding-left: 5px\9;
    font-family: Arial, sans-serif;
    color: #333;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 10px;
    min-width: 70px;
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    -ms-appearance: none;
    appearance: none;
}
.form-inline select.no-arrow {
    height: 40px;
}
select.no-arrow:focus {
    border-color: #009cde;
    outline: none;
}
/** Fix for IE's bad alignment **/
html[data-device-type="dedicated"] select.no-arrow {
    text-indent: 0;
    padding: 8px;
}
select.no-arrow::-ms-expand {
    display: none;
}
/* Select arrow */
 label.select-arrow {
    display: inline-block;
    position: relative;
    z-index: 2;
    top: -3px;
    left: -12px;
    margin-left: -10px;
    text-indent: -999em;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #444;
    margin-top: 10px;
    overflow: hidden;
    vertical-align: middle;
    pointer-events: none;
}
@-moz-document url-prefix() {
    html[data-device-type="dedicated"] select.no-arrow {
        text-indent: 0.01px;
        text-overflow: '';
    }
    label.select-arrow {
        left: -6px;
        border: none;
        margin-left: 0;
    }
}
.form-inline label.select-arrow {
    top: -1px;
}
/* Turn off custom arrow for IE9 */
 .no-csstransforms3d label.select-arrow {
    display: none\9;
}
label.select-arrow + input {
    margin-left: 0;
    margin-left: 8px\9;
}
select.wide-select {
    width: 282px;
}
input[type="number"] + select, input.amount-currency + select {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: top;
    position: relative;
    top: 0;
    left: -1px;
}
input[type="number"]:focus + select, input.amount-currency:focus + select {
    border-left-color: #009cde;
}
input[type="submit"], button {
    margin-left: 10px;
    border: none;
    min-width: 140px;
}
.input-wrapper {
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
.input-wrapper * {
    white-space: normal;
}
html[data-device-type="mobile"] .input-wrapper {
    width: 100%;
}
html[data-device-type="mobile"] .input-wrapper.caboose {
    white-space: nowrap;
}
/* IE 9 Placeholder polyfills */
span.placeholder {
    left: 0;
    color: #aaa;
}
/* Form errors */
.input-wrapper.error input[type="text"], .input-wrapper.error textarea, .input-wrapper.error input[type="number"],
.input-wrapper.error input[type="email"], .input-wrapper.error input[type="password"],
.input-wrapper.error input[type="url"] {
    border-color: #9C2B36;
}
.input-wrapper.error:after {
    content:'!';
    color: #fff;
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    top: 12px\9;
    z-index: 2;
    width: 10px;
}
.input-wrapper.error:before {
    content:'';
    display: block;
    position: absolute;
    right: 7px;
    bottom: 12px;
    z-index: 1;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 16px solid transparent;
    border-width: 16px 9px;
    border-bottom-color: rgba(156, 43, 54, 0.9);
}
.form-inline .input-wrapper.error:after {
    top: 10px;
}
.input-wrapper.caboose.error:after {
    right: 78px;
}
.input-wrapper.caboose.error:before {
    right: 77px;
}
.input-wrapper.small.error:after {
    right: 11px;
    top: 4px;
}
.input-wrapper.small.error:before {
    right: 4px;
    bottom: 8px;
}
.error-overlay {
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
    background: #9C2B36;
    background: rgba(156, 43, 54, 0.9);
    color: #fff;
    font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px;
    z-index: 3;
}
.input-wrapper.error-highlighted, .input-wrapper.error-highlighted a {
    color: #9C2B36;
}
.input-wrapper.error-highlighted:before, .input-wrapper.error-highlighted:after {
    display: none;
}
/* Modal Dialog */
 .mpp-modal {
    display: none;
}
.ui-widget, .ui-widget button {
    font-family: inherit;
    font-size: inherit;
}
.ui-dialog {
    position: fixed;
    background: #fff;
    border-radius: 0;
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.ui-dialog.start {
    opacity: 0;
}
.ui-dialog .btn {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
}
.ui-dialog .btn + .btn {
    margin-left: 10px;
}
.ui-dialog .ui-dialog-titlebar {
    min-height: 20px;
    font-size: 18px;
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: transparent;
    border: none;
}
.ui-dialog .ui-dialog-title {
    line-height: 22px;
}
.ui-widget-overlay {
    background: #000;
    opacity: 0.8;
}
.ui-button {
    min-width: 0;
    background: transparent;
}
.ui-dialog .ui-dialog-titlebar-close {
    right: 0.4em;
    margin-top: -13px;
    width: 25px;
    height: 25px;
    border-radius: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: none;
}
.ui-dialog .ui-button, .ui-dialog-content .btn {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.ui-dialog .ui-button:after {
    content:"";
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: transparent url(https://www.paypalobjects.com/webstatic/mktg/2014design/close_default.png) center center no-repeat;
}
.ui-dialog .ui-dialog-content {
    padding: 0.5em 1.5em;
    -webkit-overflow-scrolling: touch;
}
.ui-dialog .content {
    padding: 0;
}
.mobile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    display: none;
    z-index: 9999;
    background: #fff;
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate(0, 1000px);
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
}
.mobile-modal .content {
    padding: 0 1.2em;
    overflow: auto;
    max-height: 90%;
    -webkit-overflow-scrolling: touch;
}
.mobile-modal .titlebar {
    background: #fff;
    display: block;
    height: 44px;
    line-height: 2.03em;
    position: relative;
    padding: 0 50px 0 1.0em;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;
}
.mobile-modal .titlebar .closer {
    position: absolute;
    top: 50%;
    right: 0.8em;
    display: block;
    width: 25px;
    height: 25px;
    text-indent: -999em;
    overflow: hidden;
    margin-top: -13px;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.mobile-modal .titlebar .closer:after {
    position: absolute;
    top: 0;
    right: 0;
    content:'';
    display: block;
    width: 25px;
    height: 25px;
    background: transparent url(https://www.paypalobjects.com/webstatic/mktg/2014design/close_default.png) center center no-repeat;
}
.mobile-modal.on {
    display: block;
    height: 100%;
}
.mobile-modal.on.inplace {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
}
.mobile-modal .btn {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
}
/*external tracking*/
 #externalTracking {
    overflow: hidden;
    height: 0;
}
/* Scroll arrows */
 .fancy-down-arrow-grey {
    background: transparent url(https://www.paypalobjects.com/webstatic/mktg/2014design/fancy-down-arrow2x.png) center center no-repeat;
    background-size: 22px 13px;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-indent: -999em;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-radius: 21px;
}

.payblue {
    color:#0c8dc4;
}
.palblue {
    color:#009cde;
}
.white {
    color:#ffffff;
}
.leaf {
    color:#6db33f;
}
.lime {
    color:#c2cd23;
}
.tomato {
    color:#b32317;
}
.tangerine {
    color:#f8981d;
}
.sea {
    color:#007c85;
}
.aqua {
    color:#0098a3;
}
.plum {
    color:#7a003c;
}
.berry {
    color:#f15f7c;
}
.sand {
    color:#959484;
}
.palesand {
    color:#e7e6d3;
}
.slate {
    color:#717074;
}
.paleslate {
    color:#e6e7e8;
}
.black {
    color:#000000;
}
hr {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #FFF;
    border-left: 0;
    border-right: 0;
    margin: 0;
}
.row-fluid {
  background: #fff;
  position: relative;
  z-index: 2;

  /* Fix for iOS rendering bug */
  -webkit-transform: translate3d(0,0,0);
  transform: translate(0,0);
}

