input[type="submit"], button {
  margin-left: 0;
}

/*
 * some of paypal's styles depend on a
 * data-device-type attriute on html.
 * I'm not going to take the time to
 * reverse engineer that, so I'll add
 * a few things here as need be.
 */
.btn:focus {
  outline: 0;
  text-decoration: underline;
}

