:local .amountSelect select {
  /* this is a total rip-off from the paypal site */
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: top;
  position: relative;
  top: 0;
  left: -5px;
}

:local .amountSelect label {
  top: 6px;
  left: -14px;
}
