:local .form {
  height: 180px;
  display: block;
}

:local .nextPrevButtons {
  display: block;
  margin-top: 20px;
}

:local .submitButtonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

:local .submitButtonContainer button {
  margin: 0 8px;
}

:local .purposeDescription {
  font-size: 20px;
  margin-top: 30px;
  width: 340px;
}

