/*
 * I ripped this off of
 * paypal.com/myaccount/home
 */


/**
 * @fileOverview Styles for the activity section and activity module of summary page
 * @name activityModule
 * Corresponding Dust file is public/templates/widgets/activityModule.dust
 * @author tsullivan
 * @tested Chrome, Firefox, Safari, IE9, IOS6
 */
/* Alternating table row colors */
.activityModule {
  max-width: 1170px;
  margin: 1em auto 2em;
  padding: 1.25em 1em 1.5em;
  background-color: #ffffff;
}
.activityModule .moduleHeader {
  margin-top: 0;
  border: 0;
  padding-bottom: 0;
}
.activityModule .canceled,
.activityModule .denied {
  text-decoration: line-through;
}
.summarySection .activityModule {
  margin-top: 2em;
}
.withStatements {
  display: inline-block;
}
.downloads {
  margin-left: 3em;
  display: inline-block;
  color: #0666b3;
}
.transactionList,
.installmentList {
  margin: auto;
  max-width: 1170px;
}
.transactionRow:nth-child(odd),
.installmentRow:nth-child(odd) {
  background-color: #f8f8f8;
}
.isCurrencyConversion {
  width: 14px;
  height: 11px;
  background-repeat: no-repeat;
  /* Hide the text. */
  display: inline-block;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.currencyCode {
  display: block;
  line-height: 0;
  padding-top: 0.5em;
}
.transactionAmount {
  /*! @noflip */
  direction: ltr;
}
.transactionRow,
.installmentRow {
  position: relative;
  background-color: #ffffff;
}
.transactionRow:nth-child(odd),
.installmentRow:nth-child(odd),
.transactionRow.year-title:nth-child(odd),
.installmentRow.year-title:nth-child(odd) {
  background-color: #f7f9fa;
}
.transactionRow:nth-child(odd) .transactionAmount,
.installmentRow:nth-child(odd) .transactionAmount,
.transactionRow.year-title:nth-child(odd) .transactionAmount,
.installmentRow.year-title:nth-child(odd) .transactionAmount,
.transactionRow:nth-child(odd) .installmentSummary .balance,
.installmentRow:nth-child(odd) .installmentSummary .balance,
.transactionRow.year-title:nth-child(odd) .installmentSummary .balance,
.installmentRow.year-title:nth-child(odd) .installmentSummary .balance {
  background-color: #f7f9fa;
  /* This creates the subtle fade for text trunctation */
}
.transactionRow.hasSpinner:before,
.installmentRow.hasSpinner:before {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 55%;
}
.transactionRow.hasSpinner:after,
.installmentRow.hasSpinner:after {
  position: absolute;
}
.transactionRow:nth-child(even) .transactionAmount,
.installmentRow:nth-child(even) .transactionAmount,
.transactionRow.year-title:nth-child(even) .transactionAmount,
.installmentRow.year-title:nth-child(even) .transactionAmount,
.transactionRow:nth-child(even) .installmentSummary .balance,
.installmentRow:nth-child(even) .installmentSummary .balance,
.transactionRow.year-title:nth-child(even) .installmentSummary .balance,
.installmentRow.year-title:nth-child(even) .installmentSummary .balance {
  background-color: #ffffff;
  /* This creates the subtle fade for text trunctation */
}
.transactionRow:nth-child(even) .transactionAmount:before,
.installmentRow:nth-child(even) .transactionAmount:before,
.transactionRow.year-title:nth-child(even) .transactionAmount:before,
.installmentRow.year-title:nth-child(even) .transactionAmount:before,
.transactionRow:nth-child(even) .installmentSummary .balance:before,
.installmentRow:nth-child(even) .installmentSummary .balance:before,
.transactionRow.year-title:nth-child(even) .installmentSummary .balance:before,
.installmentRow.year-title:nth-child(even) .installmentSummary .balance:before {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}
.year-title .span1 {
  padding: 1em;
  text-align: center;
}
.transactionRow,
.installmentRow {
  min-height: 4em;
  display: block;
}
.transactionRow:last-child,
.installmentRow:last-child {
  border-bottom: none;
}
.transactionRow .transactionDescriptionContainer,
.installmentRow .transactionDescriptionContainer {
  text-decoration: none;
  padding-bottom: 5px;
  display: inline-block;
  width: 100%;
}
.transactionRow .transactionDescriptionContainer:focus,
.installmentRow .transactionDescriptionContainer:focus {
  text-decoration: underline;
}
.transactionRow .transactionDescriptionContainer:active,
.installmentRow .transactionDescriptionContainer:active {
  text-decoration: none;
}
.transactionRow .transactionDescription,
.installmentRow .transactionDescription,
.transactionRow .installmentSummary .creditPlanDescription,
.installmentRow .installmentSummary .creditPlanDescription {
  padding-top: 0.9em;
  line-height: 1.25em;
}
.transactionRow .transactionAmount,
.installmentRow .transactionAmount,
.transactionRow .installmentSummary .balance,
.installmentRow .installmentSummary .balance {
  line-height: 1rem;
  margin-top: 0.5em;
  padding-top: 0.4em;
  height: 80%;
}
.transactionRow .transactionAmount.primaryCurrency,
.installmentRow .transactionAmount.primaryCurrency,
.transactionRow .installmentSummary .balance.primaryCurrency,
.installmentRow .installmentSummary .balance.primaryCurrency {
  margin-top: 0.45em;
}
.transactionRow .transactionAmount.currencyConversion,
.installmentRow .transactionAmount.currencyConversion,
.transactionRow .installmentSummary .balance.currencyConversion,
.installmentRow .installmentSummary .balance.currencyConversion {
  padding-top: 1em;
}
.transactionRow .transactionAmount.currencyConversion .currencyCode,
.installmentRow .transactionAmount.currencyConversion .currencyCode,
.transactionRow .installmentSummary .balance.currencyConversion .currencyCode,
.installmentRow .installmentSummary .balance.currencyConversion .currencyCode {
  padding-top: 0.75em;
}
.transactionRow .transactionAmount .currencyCode,
.installmentRow .transactionAmount .currencyCode,
.transactionRow .installmentSummary .balance .currencyCode,
.installmentRow .installmentSummary .balance .currencyCode {
  padding-top: 0.3em;
  font-family: 'HelveticaNeue', 'Helvetica Neue', helvetica, Arial, sans-serif;
}
.transactionRow .actions,
.installmentRow .actions {
  float: right;
}
.transactionRow .transactionType,
.installmentRow .transactionType,
.transactionRow .installmentSummary .creditPlanType,
.installmentRow .installmentSummary .creditPlanType {
  display: block;
  padding-top: 0.02em;
  color: #2c2e2f;
}
.transactionRow .creditPlan-balance,
.installmentRow .creditPlan-balance {
  color: #6c7378;
}
.transactionRow .transactionType,
.installmentRow .transactionType {
  width: 96%;
  white-space: nowrap;
  overflow: hidden;
}
.transactionRow .transactionType-principal,
.installmentRow .transactionType-principal {
  display: block;
  color: #6c7378;
}
.transactionRow.year-title,
.installmentRow.year-title {
  /* adjust the min-height to 2/3 the height of the transactionRow and vertically center the content */
  min-height: 2.66em;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.66em;
}
.transactionRow.year-title .span1,
.installmentRow.year-title .span1 {
  padding-top: 0;
  padding-bottom: 0;
}
.transactionRowHover:hover,
.installmentRow:not(.isInactive):hover {
  background-color: #eeeeee;
  border-left: 4px solid #009cde;
  margin-left: -4px;
}
.transactionRowHover:hover .transactionDetailsContainer .transactionAmount,
.installmentRow:not(.isInactive):hover .transactionDetailsContainer .transactionAmount,
.transactionRowHover:hover .installmentSummary .balance,
.installmentRow:not(.isInactive):hover .installmentSummary .balance {
  background-color: #eeeeee;
  /* This creates the subtle fade for text trunctation */
}
.transactionRowHover:hover .transactionDetailsContainer .transactionAmount:before,
.installmentRow:not(.isInactive):hover .transactionDetailsContainer .transactionAmount:before,
.transactionRowHover:hover .installmentSummary .balance:before,
.installmentRow:not(.isInactive):hover .installmentSummary .balance:before {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 238, 238, 0)), to(#eeeeee));
  background-image: -webkit-linear-gradient(left, rgba(238, 238, 238, 0), #eeeeee);
  background-image: -moz-linear-gradient(left, rgba(238, 238, 238, 0), #eeeeee);
  background-image: -ms-linear-gradient(left, rgba(238, 238, 238, 0), #eeeeee);
  background-image: -o-linear-gradient(left, rgba(238, 238, 238, 0), #eeeeee);
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0), #eeeeee);
}
.transactionItem {
  padding: 0 0 0.55em;
}
.dateParts {
  display: block;
  padding-top: 0.9em;
}
.dateDay,
.dateMonth {
  display: block;
  text-align: center;
  line-height: 1.1em;
  color: #2c2e2f;
}
.dateMonth {
  text-transform: uppercase;
  font-weight: bold;
}
.transactionDetailsContainer {
  position: relative;
}
/* Inline actions */
.transactionDetailsContainer .action,
.detailedTable-transactionItem_actions .action,
.transactionDetailsContainer .action-highlight,
.detailedTable-transactionItem_actions .action-highlight {
  margin-bottom: 0.175em;
  margin-top: 0.175em;
  margin-left: -0.25em;
}
.transactionDetailsContainer .action .icon,
.detailedTable-transactionItem_actions .action .icon,
.transactionDetailsContainer .action-highlight .icon,
.detailedTable-transactionItem_actions .action-highlight .icon {
  color: #9da3a6;
}
.transactionDetailsContainer .action a,
.detailedTable-transactionItem_actions .action a,
.transactionDetailsContainer .action-highlight a,
.detailedTable-transactionItem_actions .action-highlight a {
  display: inline-block;
  margin: 0;
  padding: 0 0.82em 0 0.4em;
  border-right: 1px solid #2c2e2f;
  white-space: nowrap;
}
.transactionDetailsContainer .action a:first-of-type,
.detailedTable-transactionItem_actions .action a:first-of-type,
.transactionDetailsContainer .action-highlight a:first-of-type,
.detailedTable-transactionItem_actions .action-highlight a:first-of-type {
  padding-left: 0.2em;
}
.transactionDetailsContainer .action a:last-of-type,
.detailedTable-transactionItem_actions .action a:last-of-type,
.transactionDetailsContainer .action-highlight a:last-of-type,
.detailedTable-transactionItem_actions .action-highlight a:last-of-type {
  border-right: none;
}
.transactionDetailsContainer .action-highlight .icon,
.detailedTable-transactionItem_actions .action-highlight .icon {
  color: #f8981f;
}
.transactionDescription,
.transactionAmount,
.installmentSummary .creditPlanDescription,
.installmentSummary .balance {
  color: #2c2e2f;
}
.transactionDescription,
.installmentSummary .creditPlanDescription {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.transactionAmount,
.installmentSummary .balance {
  position: absolute;
  /* Create stacking context for amount */
  right: 0.7em;
  /* Align right */
  top: 0;
  padding-right: 1.2em;
  text-align: right;
  /* Create pseudoelement for the text trancation fading */
}
.transactionAmount:before,
.installmentSummary .balance:before {
  content: '';
  width: 2em;
  height: 98%;
  /* < 100% prevents triggering scrollbar */
  position: absolute;
  left: -2em;
  top: 0;
  z-index: 0;
}
.transactionAmount .netAmount,
.installmentSummary .balance .netAmount {
  color: #2c2e2f;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.transactionAmount .balanceAmount,
.installmentSummary .balance .balanceAmount {
  display: block;
  color: #2c2e2f;
}



/**
 * @fileOverview Contains type treatment for PayPal's new VX Patterns
 * @name type-vxPtrn
 * @author jlowery
 * @notes The below styles are mobile first
 */
.vx_h1,
.vx_h2,
.vx_h3,
.vx_h4 {
  -webkit-font-smoothing: antialiased;
}
.vx_h1 {
  font-size: 36px;
  line-height: 37px;
  font-weight: 300;
  text-transform: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vx_h2 {
  /* Yes, the below H3 vars are intended
	 * this is the mobile sizing, so it's this first.
	 * Desktop is below.
	 */
  font-size: 26px;
  line-height: 29px;
  font-weight: 300;
  text-transform: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vx_h3 {
  font-size: 26px;
  line-height: 29px;
  font-weight: 300;
  text-transform: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vx_h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  text-transform: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vx_h5 {
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
  text-transform: none;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vx_h6 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vx_h7 {
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  font-size: 15px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", helvetica, Arial, sans-serif;
}
.vx_small-text {
  font-size: 13px;
  line-height: 18px;
}
.vx_secondary-text {
  color: #9da3a6;
}
.vx_text-block {
  padding: 21px 21px 10.5px;
}
.vx_reverse-contrast {
  background: #2c2e2f;
  color: #ffffff;
}
.vx_reverse-contrast .vx_secondary-text {
  color: #cbd2d6;
}
.vx_reverse-contrast .small-text {
  font-weight: bold;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10.5px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 21px;
}
dl {
  margin-bottom: 21px;
}
dt,
dd {
  line-height: 21px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10.5px;
}
.vx_unstyled-list {
  list-style: none;
  padding: 0;
}
/* Mobile First, aka Desktop Later */
@media (min-width: 768px) {
  .vx_h2 {
    font-size: 32px;
    line-height: 35px;
    font-weight: 300;
    text-transform: none;
  }
}
a,
a:visited {
  color: #0079ad;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  color: #00567a;
  text-decoration: underline;
}


.isNegative {
  color: #b32317;
}
.isPositive {
  color: #3ea134;
}

